.container-login{
    margin-top: 100px;
    max-width: 600px;
}

.form-login{
    margin-top: 30px;
}

.col-login{
    margin-top: 25px;
}

.navbar-brand{
    padding: 5px;
}

.app-container{
    margin-top: 70px;
}

.panel{
    width: 90%;
}

.form-row{
    margin-top: 10px;
}