<navegacao>

</navegacao>

<div class="container app-container">
    <!-- painel -->
    <div class="panel panel-default">
        <!-- titulo do painel -->
        <div class="panel-heading">Usuários</div>
        <!-- conteudo do painel -->
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Pesquisa"/>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                        Excluir
                    </button>
                    <button class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Editar
                    </button>
                    <button class="btn btn-success" data-toggle="modal" data-target="#cadastroUsuariosModal">
                        <span class="glyphicon glyphicon-plus"></span>
                        Incluir
                    </button>
                </div>
            </div>
        </div>
        <!-- tabela -->
        <table class="table">
            <!-- titulo tabela-->
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Login</th>
                    <th>Logado</th>
                </tr>
            </thead>

            <!-- corpo tabela-->
            <tbody>
                <tr ng-repeat="user in listaUsuarios">
                    <td>{{user.id}}</td>
                    <td>{{user.nome}}</td>
                    <td>{{user.login}}</td>
                    <td>***********</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- modal de cadastro-->

<div class="modal fade" id="cadastroUsuariosModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- barra de titulo -->
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Cadastro de Usuários</h4>
            </div>

            <!-- corpo do modal -->
            <div class="modal-body">

                <!-- formulario de cadastro -->
                <form class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <input ng-model="usuario.id" type="number" class="form-control" placeholder="Codigo" disabled />
                        </div>
                        <div class="col-sm-9">
                            <input ng-model="usuario.nome" type="text" class="form-control" placeholder="Nome"/>
                        </div>
                    </div>

                    <div class="row form-row">
                        <div class="col-sm-6">
                            <input ng-model="usuario.login" type="text" class="form-control" placeholder="Login"/>
                        </div>
                        <div class="col-sm-6">
                            <input ng-model="usuario.senha" type="password" class="form-control" placeholder="Senha"/>
                        </div>
                    </div>
                </form>
            </div>

            <!-- rodapé do modal-->
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    Cancelar
                </button>
                <button class="btn btn-success" ng-click="salvar(usuario)">
                    <span class="glyphicon glyphicon-save"></span>
                    Salvar
                </button>
            </div>

        </div>
    </div>
</div>